.image {
  width: 100%;
  object-fit: contain;
  z-index: -1;
}

.image-container {
  height: 100vh;
  overflow-x: hidden;
}

.image-container::-webkit-scrollbar {
  display: none;
}

.contents {
  position: absolute;
  top: 53%;
  margin-left: 51px;
  height: 190px;
  z-index: 100;
}

.button {
  cursor: pointer;
  background-color: #fff;
  outline: none;
  border: none;
  font-size: 0.9rem;
  font-weight: 700;
  border-radius: 3px;
  margin-right: 1rem;
  padding: 0.53rem 1.6rem 0.65rem 1.6rem;
}

.button:hover {
  color: #000;
  background-color: #e6e6e6;
  transition: all 0.2s;
}

.button2 {
  background-color: rgba(109, 109, 110, 0.7);
  color: white;
}

.button2:hover {
  background-color: rgba(109, 109, 110, 0.5);
  color: white;
}

.icons {
  position: relative;
  top: 0.22em;
  font-size: 1.1rem;
  padding-right: 10px;
}

.description {
  z-index: 1;
  font-weight: 400;
  max-width: 480px;
  height: 80px;
  color: #fff;
  width: 100%;
  line-height: 4vh;
  font-size: 1.4vw;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.45);
  padding-bottom: 0.8rem;
}

@media only screen and (min-width: 1400px) {
  .description {
    padding-bottom: 5vh;
  }
}

.fadeBottom {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 7.4rem;
  background-image:
    linear-gradient(
      180deg,
      transparent,
      rgba(37, 37, 37, 0.61),
      #141414
    );
}
