.input {
  margin-top: 1px;
  background-color: black;
  color: white;
  border: 1px solid white;
  transition: width 0.5s;
  height: 30px;
  font-size: 16px;
  margin-left: 10px;
  padding: 3px 10px;
  width: 260px;
}