.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 68px;
  z-index: 110;
  transition: all 0.5s;
  transition-timing-function: ease-in;
  background-image: linear-gradient(black, transparent);
}

.link,
.search-container {
  color: #fff;
  font-weight: lighter;
  font-size: 14px;
  margin-left: 18px;
  cursor: pointer;
  text-decoration: none;
}

.link:hover {
  color: #999;
}

.search-container {
  height: 100%;
  display: flex;
  align-items: center;
}

.icons,
.dropdown,
.children,
.gift {
  margin-right: 20px;
  margin-top: 1px;
  font-size: 22px;
  cursor: pointer;
}

.search-icon {
  position: relative;
  font-size: 20px;
  left: 58px;
}

.dropdown {
  font-size: 25px;
  margin-right: 0;
  margin-left: 4px;
}

.children {
  font-size: 13.5px;
  font-weight: 400;
  margin-top: 1px;
  letter-spacing: 1px;
}

.gift {
  margin-right: 27px;
}

.links {
  margin-left: 25px;
  margin-top: 5.5px;
}

.navbarColor {
  background-color: rgb(20, 20, 20);
}

.flex-container-logo {
  display: flex;
}

.logo {
  margin-top: 3px;
  width: 93px;
  object-fit: contain;
}

.netflix-logo {
  margin-left: 0;
}

.avatar {
  margin-top: 3px;
  right: 50px;
  width: 30px;
  object-fit: contain;
  border-radius: 5px;
}

.flex-container {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 0 43px 0 51px;
}

.input {
  margin-top: 1px;
  background-color: black;
  color: white;
  border: 1px solid white;
  transition: width 0.5s;
  height: 30px;
  font-size: 14px;
  margin-left: 10px;
  padding: 0.3px 10px;
  width: 215px;
}

input[type=text] {
  padding-left: 40px;
}
