.row {
  position: relative;
  margin-left: 20px;
  color: white;
}

.row-container {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
  margin-left: 16.5px;
}

.row-container::-webkit-scrollbar {
  display: none;
}

.title {
  font-size: 1.4vw;
  color: #e5e5e5;
  font-weight: 700;
  margin: 1.6em 0 -.5em 2.5%;
  min-width: 6em;
}

.title:hover {
  color: #fff;
}

.image {
  object-fit: contain;
  max-height: 145px;
  margin-right: 5px;
  transition: transform 450ms;
  border-radius: 5px;
  cursor: pointer;
}

.image:hover {
  transform: scale(1.04);
}

.imageLarge {
  margin-right: 5px;
  max-height: 250px;
  transition: transform 450ms;
  border-radius: 5px;
  cursor: pointer;
}

.imageLarge:hover {
  transform: scale(1.05);
}

.link {
  width: 100%;
  height: 100%;
}