.container {
  position: relative;
  margin-top: 70px;
  width: 100%;
  display: flex;
}

.video {
  position: absolute;
  top: 70px;
  width: 100%;
  height: 82.9%;
  z-index: 100;
}

.modal {
  position: absolute;
  height: 140%;
  width: 100%;
  top: 0;
  z-index: 90;
}

.image {
  object-fit: contain;
  width: 100%;
  max-height: 100%;
}

.image-container {
  width: 80%;
}

.info-container {
  width: 30%;
  background-color: black;
  color: white;
  font-size: 1em;
}

.block {
  position: absolute;
  left: 27.2%;
  width: 20%;
  height: 100%;
  background-image: linear-gradient(to left, transparent, rgba(0, 0, 0, 0.71), black);
  z-index: 1;
}

.text {
  position: absolute;
  margin-left: 51px;
  margin-top: 51px;
  z-index: 2;
}

.movie-info {
  position: absolute;
  left: 51px;
  top: 120px;
  width: 40%;
  z-index: 2;
  line-height: 1.25em;
  color: #999;
  font-weight: 500;
}

.buttons {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}

.play-button,
.list-button {
  outline: none;
  cursor: pointer;
  border: none;
  font-size: 1rem;
  font-weight: 700;
  margin-right: 1rem;
  padding: 0.45rem 1.65rem 0.65rem 1.65rem;
  background-color: #f30000;
  color: #fff;
  z-index: 1;
}

.play-button:hover {
  background-color: rgb(201, 2, 2);
}

.list-button {
  background-color: black;
  border: 1px solid #fff;
}

.list-button:hover {
  background-color: rgb(29, 28, 28, 0.61);
}

.icons {
  position: relative;
  padding-right: 10px;
  top: 0.2em;
  font-size: 1.3em;
}

.button-container {
  position: absolute;
  bottom: 51px;
  left: 51px;
}
